
@if (Details != null && Details.Count > 0)
{
    <tr>
        <td class="text-uppercase text-muted @ColumnClass">@DetailName</td>
        <td>
            @for (int i = 0; i < Details.Count; i++)
            {
                if (!string.IsNullOrWhiteSpace(Details[i]))
                {
                    <strong>@Details[i]</strong>
                    if (i < Details.Count - 1)
                    {
                        <span class="text-muted">/</span>
                    }
                }
            }

        </td>
    </tr>
}

@code {
    [Parameter]
    public string ColumnClass { get; set; }

    [Parameter]
    public string DetailName { get; set; }

    [Parameter]
    public IReadOnlyList<string> Details { get; set; }
}
