
@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.HeaderText = "Privacy Policy";
}

<h2>This privacy policy is current as of March 1, 2016.</h2>

<h2>Scope of this Policy</h2>

<p>This policy applies to this site (www.dotadatabase.net), our REST API (api.dotadatabase.net), and our Windows Store App (DOTA Data Viewer).</p>

<h2>How Information is Collected</h2>

<p>This service collects information primarily in two different ways. First, this service will accept information that is directly input by you and the community at large. Second, this service will silently collect information about how the service is utilized by you and others.</p>

<p>Any information that you or others directly input into this service may be stored for registration and login purposes. You always have the option of refusing to provide any information that you deem as too private to be entered into the service. If you refuse, you also understand that you may be unable to perform certain activities that would otherwise require said information.</p>

<p>If you ask for assistance, you understand that non-identifying information may need to be communicated between interested parties in order to serve your request accurately and efficiently.</p>

<p>When you visit this site, statistics about what and when you access content may be aggregated for development and marketing purposes. This is always anonymous, non-identifying information which may or may not be stored in our services and affiliate services.</p>

<p>This service uses third party analytics to collect information about the habits and behaviors of the users of this service. The third party analytics collected by this service do not share any personally identifying information with us. You understand that this service has no control over what information is collected, how information is collected, and for how long information is collected by any third party analytics that this service utilizes.</p>

<h2>How Information is Utilized</h2>

<p>We will never share your personal information with any third parties (except for contractors and vendors who may be handling the information with our explicit direction) unless you explicitly request that we do so.</p>

<h2>When this Privacy Policy Changes</h2>

<p>We may update this privacy policy at any time and for any reason. Please make a habit of reviewing this privacy policy upon each notification of a change.</p>

<p>The current "as of" date of this privacy policy is always visible on this page and in the latest e-mail communication sent out as a result of a privacy policy change.</p>
