<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-shield"></i>
            Strength
        </h4>
    </div>
    <div class="panel-body" style="padding: 0">
        <div class="row" style="margin: 0">
            @for (int i = 0; i < 20; i++)
            {
                <div class="col-lg-2" style="padding: 1px">
                    <div class="thumbnail" style="margin-bottom: 0; padding: 0; border: 0;">
                        <a href="#">
                            <img src="http://placehold.it/190x100" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-male"></i>
            Agility
        </h4>
    </div>
    <div class="panel-body">
        Heroes
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-flask"></i>
            Intelligence
        </h4>
    </div>
    <div class="panel-body">
        Heroes
    </div>
</div>