html {
    -ms-overflow-style: scrollbar;
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 200px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .footer p,
    .footer h4,
    .footer h5,
    .footer-splash p,
    .footer-splash h4,
    .footer-splash h5 {
        color: #fff;
    }

.footer-bottom small {
    color: #999;
}

.footer hr,
.footer-splash hr {
    border-top: 1px dotted #292929;
    color: #fff;
    background-color: #fff;
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
}

    .footer-bottom .link-white {
        color: #fff;
    }

    .footer-bottom p {
        margin-bottom: 5px;
        line-height: 15px;
    }

.footer a:hover {
    text-decoration: underline;
}

.text-twitter {
    color: #55acee;
}

.hero-select-list > .row > .col-md-1:nth-child(12n+1) {
    clear: both;
}

.item-list > .col-md-4:nth-child(3n+1) {
    clear: both;
}

.league-list > .col-md-6:nth-child(2n+1) {
    clear: both;
}

.abilities p {
    margin-top: 3px;
    line-height: 15px;
    margin-bottom: 3px;
}

.shadow {
    -webkit-box-shadow: 2px 2px 2px 0 rgba(170,170,170,1);
    -moz-box-shadow: 2px 2px 2px 0 rgba(170,170,170,1);
    box-shadow: 2px 2px 2px 0 rgba(170,170,170,1);
}

.abilities .alert {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-bottom: 5px;
}

.item-list p {
    margin-top: 3px;
    line-height: 15px;
    margin-bottom: 3px;
}

.league-list p {
    margin-top: 3px;
    line-height: 15px;
    margin-bottom: 3px;
}

.home-stats h2 {
    margin-bottom: 0;
    color: #ccc;
    margin: 0;
}

.home-stats .row {
    margin: 25px 0;
}

.minimap-icon {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.full-screen-bg-tint {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}
