html {
    -ms-overflow-style: scrollbar;
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 54px;
    padding-bottom: 200px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .footer p,
    .footer h4,
    .footer h5,
    .footer-splash p,
    .footer-splash h4,
    .footer-splash h5 {
        color: #fff;
    }

.footer-bottom small {
    color: #999;
}

.footer hr,
.footer-splash hr {
    border-top: 1px dotted #292929;
    color: #fff;
    background-color: #fff;
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
}

    .footer-bottom .link-white {
        color: #fff;
    }

    .footer-bottom p {
        margin-bottom: 5px;
        line-height: 15px;
    }

.footer a:hover {
    text-decoration: underline;
}

.text-twitter {
    color: #55acee;
}

.hero-select-list > .row > .col-md-1:nth-child(12n+1) {
    clear: both;
}

.item-list > .col-md-4:nth-child(3n+1) {
    clear: both;
}

.instore-item-list .col-md-6:nth-child(2n+1) {
    clear: both;
}

.itemset-list > .col-md-4:nth-child(3n+1) {
    clear: both;
}

.league-list > .col-md-6:nth-child(2n+1) {
    clear: both;
}

.autograph-list > .col-md-4:nth-child(3n+1) {
    clear: both;
}

.abilities p {
    margin-top: 3px;
    line-height: 15px;
    margin-bottom: 3px;
}

.shadow {
    -webkit-box-shadow: 2px 2px 2px 0 rgba(170,170,170,1);
    -moz-box-shadow: 2px 2px 2px 0 rgba(170,170,170,1);
    box-shadow: 2px 2px 2px 0 rgba(170,170,170,1);
}

.abilities .alert {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-bottom: 5px;
}

.instore-item-list p, .league-list p, .item-list p, .autograph-list p {
    margin-top: 3px;
    line-height: 15px;
    margin-bottom: 3px;
}

.home-stats h2 {
    margin-bottom: 0;
    color: #ccc;
    margin: 0;
}

.home-stats .row {
    margin: 25px 0;
}

.home-stats a {
    color: inherit;
}

.minimap-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 3;
}

.minimap-icon-circle.large {
    width: 40px;
    height: 40px;
    position: absolute;
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    border-radius: 20px;
    z-index: 2;
}

.minimap-icon-circle.small {
    width: 24px;
    height: 24px;
    position: absolute;
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    border-radius: 12px;
    z-index: 2;
}

.minimap-icon-circle.radiant {
    background-color: rgba(0, 255, 33, 0.5);
    border: 2px solid #004008;
}

.minimap-icon-circle.dire {
    background-color: rgba(255, 0, 0, 0.50);
    border: 2px solid #4f0000;
}

.minimap-icon-circle.tower {
    z-index: 1;
}

.minimap-icon-circle.dead {
    background-color: rgba(33, 33, 33, 0.50);
    border: 2px solid #000000;
}

.full-screen-bg {
    height: 100%;
}

.full-screen-bg-tint {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.hero-table td, .hero-table th {
    text-align: center;
}

    .hero-table td:empty, .hero-table th:empty {
        border: 0;
    }

.live-game-items .thumbnail {
    margin: 1px 1px;
    border: 0;
    padding: 0;
    width: 32px;
}

.live-league-game-link, .live-league-game-link:hover, .live-league-game-link:active, .live-league-game-link:visited {
    color: inherit;
}

    .live-league-game-link .well:hover {
        background-color: #eee;
    }

.picks-and-bans .col-xs-1, .picks-and-bans .col-md-7, .picks-and-bans .col-md-5 {
    padding: 0 1px;
}

.picks-and-bans .thumbnail {
    padding: 2px;
    margin: 0;
    width: 100%;
}

.picks-and-bans .radiant {
    margin: 0;
    background-color: rgb(0, 144, 19);
    width: 100%;
}

.picks-and-bans .dire {
    margin: 0;
    background-color: rgb(202, 0, 0);
    width: 100%;
}

.picks-and-bans .ban {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

.picks-and-bans .row {
    margin: 1px 0;
}

.live-league-game-list .league-logo {
    margin: 0;
    padding: 0;
    border: 0;
    width: 150px;
}

.live-league-game-list .teams {
    margin: 3px 0;
}

.live-league-game-list .stats {
    line-height: 15px;
}

.live-league-game-list .media-heading {
    margin: 0;
}

.live-league-game-list .hero {
    padding: 5px;
}

    .live-league-game-list .hero .team {
        margin: 0;
    }

    .live-league-game-list .hero .kills {
        margin: 7px 0 0 0;
    }

    .live-league-game-list .hero .avatar {
        margin: 0;
        padding: 0;
        border: 3px solid;
    }

        .live-league-game-list .hero .avatar.radiant {
            border-color: #28B62C;
        }

        .live-league-game-list .hero .avatar.dire {
            border-color: #FF4136;
        }

.live-league-game-list .radiant-hero-list {
    margin-bottom: 10px;
}

.death {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    font-size: 26px;
    text-align: left;
}

    .death span {
        color: rgb(255, 36, 36);
        position: absolute;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.ultimate-dot {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

    .ultimate-dot.ready {
        background-color: rgba(0, 255, 33, 1);
        border: 2px solid #007c0f;
    }

    .ultimate-dot.not-ready {
        background-color: rgba(255, 0, 0, 1);
        border: 2px solid #7c0000;
    }

.live-league-game .league-name {
    margin: 0;
}

.live-league-game .league-logo {
    margin: 0;
    border: 0;
    width: 100px;
}

.live-league-game .league-tier {
    margin: 0;
}

.live-league-game .league-location {
    margin: 0;
}

.live-league-game .no-margin {
    margin: 0;
}

.live-league-game .team-name {
    margin: 0;
    font-weight: 100;
}

.live-league-game .player-well {
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
}

.live-league-game .player-level {
    margin: 9px 5px 0 0;
    line-height: 13px;
}

.live-league-game .player-details {
    margin-top: 5px;
}

.live-league-game .minimap-container {
    position: relative;
    width: 90%;
}

.live-league-game .roshan-status {
    margin-bottom: 0;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: #469cdd;
}

    .btn-twitter:hover,
    .btn-twitter:focus,
    .btn-twitter:active {
        color: #fff;
        background-color: #469cdd;
        border-color: #3a8fd0;
    }

.btn-facebook {
    color: #fff;
    background-color: #3A5795;
    border-color: #29488a;
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active {
        color: #fff;
        background-color: #29488a;
        border-color: #1f3e7e;
    }

.btn-google-plus {
    color: #fff;
    background-color: #d34836;
    border-color: #c13725;
}

    .btn-google-plus:hover,
    .btn-google-plus:focus,
    .btn-google-plus:active {
        color: #fff;
        background-color: #c13725;
        border-color: #b52b1a;
    }

.header-bg-tint {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
}

.header-text {
    color: #fff;
    margin: 10px 0 0 0;
    font-weight: 100;
}

.navbar {
    min-height: 53px;
}

.table-column-ability-name {
    width: 33% !important;
}

.table-column-ability-special-name {
    width: 50% !important;
}

.table-column-ability-note-name {
    width: 10% !important;
}