@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

html {
    -ms-overflow-style: scrollbar;
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 70px;
    margin-bottom: 132px;
}

.full-screen-bg-tint {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.home-stats h2 {
    margin-bottom: 0;
    color: #ccc;
    margin: 0;
}

.home-stats .row {
    margin: 25px 0;
}

.home-stats a {
    color: inherit;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 132px; /* Set the fixed height of the footer here */
}

    .footer p,
    .footer h4,
    .footer h5,
    .footer-splash p,
    .footer-splash h4,
    .footer-splash h5 {
        color: #fff;
    }

.footer-bottom small {
    color: #999;
}

.footer a:hover {
    text-decoration: underline;
}

.footer hr,
.footer-splash hr {
    border-top: 1px dotted #292929;
    color: #fff;
    background-color: #fff;
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
}

    .footer-bottom .link-white {
        color: #fff;
    }

    .footer-bottom p {
        margin-bottom: 5px;
        line-height: 15px;
    }

.hero-select-list > .row > .col-md-1:nth-child(12n+1) {
    clear: both;
}

.hero-table td {
    vertical-align: middle;
    padding: 0;
}

.hero-table td, .hero-table th {
    text-align: center;
}

    .hero-table td:empty, .hero-table th:empty {
        border: 0;
    }

.hero-grid-img-overlay {
    position: relative;
}

    .hero-grid-img-overlay::before {
        content: '';
        position: absolute;
        top: 45px;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .5);
        width: 128px;
    }

.img-overlay {
    position: relative;
}
.img-overlay::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    width: 128px;
}

.game-item-table td {
    vertical-align: middle;
    padding: 3px;
}

.game-item-table td, .game-item-table th {
    text-align: center;
}

.cosmetic-item-table td {
    vertical-align: middle;
}

.cosmetic-item-table td, .cosmetic-item-table th {
    text-align: center;
}

.abilities p {
    margin-top: 3px;
    line-height: 15px;
    margin-bottom: 3px;
}

.abilities .alert {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-bottom: 5px;
}

.table-column-ability-name {
    width: 33% !important;
}

.table-column-ability-special-name {
    width: 50% !important;
}

.table-column-ability-note-name {
    width: 10% !important;
}

.header-bg-tint {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 85px;
}

.item-list > .col-md-4:nth-child(3n+1) {
    clear: both;
}

.game-item-description-lore h1 {
    font-size: 1rem;
    font-weight: bolder;
}

.table-hover > tbody > tr.no-hover:hover > td,
.table-hover > tbody > tr.no-hover:hover > th {
    background-color: inherit;
}