@model DotaDb.ViewModels.LiveLeagueGamePlayerViewModel

<div class="col-md-3">
    <small>
        <span class="text-muted text-uppercase">Gold:</span>
        @Model.Gold
    </small>
</div>
<div class="col-md-3">
    <small>
        <span class="text-muted text-uppercase">Worth:</span>
        @Model.NetWorth
    </small>
</div>
<div class="col-md-3">
    <small>
        <span class="text-muted text-uppercase">GPM:</span>
        @Model.GoldPerMinute
    </small>
</div>
<div class="col-md-3">
    <small>
        <span class="text-muted text-uppercase">XPM:</span>
        @Model.XpPerMinute
    </small>
</div>